<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/styles/listings.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />

  <title>My Listings</title>
</head>

<body>
  <!-- header import -->
  <%- include('partials/_header') %>

    <main class="container product-listing-container">
      <div class="row">
        <!-- Sidebar -->
        <aside class="col-12  col-xl-3">
          <form class="row g-3">
            <h5>Create New Listing</h5>
            <div class="col-md-12">
              <label for="title" class="form-label">Add Title</label>
              <input type="email" class="form-control" id="title">
            </div>
            <div class="col-md-6">
              <label for="category" class="form-label">Select category</label>
              <select id="category" class="form-select">
                <option selected>Electronics</option>
                <option>Home</option>
                <option>Books</option>
                <option>Computers</option>
                <option>Health</option>
                <option>Toys & Games</option>
                <option>Clothing</option>
                <option>Cars</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputPrice" class="form-label">Price</label>
              <input type="text" class="form-control" id="inputPrice">
            </div>
            <div class="col-12">
              <label for="description" class="form-label">Add Description</label>
              <textarea class="form-control" id="description" rows="3"></textarea>
            </div>
            <div class="col-md-12">
              <label for="image" class="form-label">Image</label>
              <input type="email" class="form-control" id="image">
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Feature your product?
                </label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Post Ad</button>
            </div>
          </form>

        </aside>

        <!-- Listings -->
        <section class="col-12 col-xl-9">
          <div class="row">

            <% if (!products) { %>
              <h4 class="col-9">No products found </h4>
            <%} else {%>

                <% for(let product in products) { %>
                  <div class="row col-12 product">
                    <div class="col-4 align-self-center">
                      <img class="align-self-center" src="<%= products[product].image_url %>">
                    </div>
                    <div class="row col-8">
                      <header class="row col-12 mt-3">
                        <h4 class="col-9">
                          <%= products[product].name %>
                        </h4>
                        <h5 class="col-3 price">$<%= products[product].price / 100 %>
                        </h5>
                      </header>
                      <div class="col-12">
                        <p>
                          <%= products[product].description %>
                        </p>
                        <button type="button" class="btn btn-success sold-button">Sold</button>
                        <button type="button" class="btn btn-primary edit-button">Edit</button>
                        <button type="button" class="btn btn-dark delete-button">Delete</button>
                      </div>
                    </div>
                  </div>
                <% } %>
            <% } %>
          </div>
        </section>
      </div>
    </main>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"></script>

</body>

</html>
